gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

key.properties
**/*.keystore
**/keystore.jks
# Shared CI/sideload key (see README security notes)
!**/vibetube-release.jks
