gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never commit signing keys except our stable release keystore
key.properties
**/*.keystore
**/keystore.jks
# allow vibetube-release.jks (stable sideload signing)
!**/vibetube-release.jks
